<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaJWG7PzF3toxaRMB1-JicpqMgJuEXATd0fg&" style="width: 180px;margin-top:50px;margin-bottom:50px;" align="left">
   <div style= "font-size: 28px;font-weight:bold;margin-top:20px;margin-bottom:20px;margin-left:360px;margin-right:140px; line-height: 1.1;color:#6f800f;"><center>Data Mining Project | ABCDEats Inc.</center></div>
   <div style= "font-size: 17px;font-weight:bold;"><center>Fall Semester | 2024 - 2025</center></div>
   <div><center><b>Master in Data Science and Advanced Analytics</b> </center></div>
 <br>
    <div><center>AndrÃ© Silvestre, 20240502 </center></div>
    <div><center>YYY, XXX </center></div>
    <div><center>YYY, XXX </center></div>
    <div><center>Umeima Mahomed, XXX </center></div>
    <br>
    <div><center><b>Group XX</b></center></div>
 <br>

## ðŸ“š Libraries Import

In [9]:
# For data
import pandas as pd
import numpy as np

# For plotting
import matplotlib.pyplot as plt
import seaborn as sns
import os

# For data preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# For model evaluation
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, f1_score

# For clustering
from sklearn.cluster import KMeans

# <a class='anchor' id='1'></a>
<br>
<style>
@import url('https://fonts.cdnfonts.com/css/avenir-next-lt-pro?styles=29974');
</style>

<div style="background: linear-gradient(to right,#bEd62f, #6f800f); 
            padding: 10px; color: white; border-radius: 300px; text-align: center;">
    <center><h1 style="margin-left: 140px;margin-top: 10px; margin-bottom: 4px; color: white;
                       font-size: 32px; font-family: 'Avenir Next LT Pro', sans-serif;">
        <b>Part 1 | Exploratory Data Analysis</b></h1></center>
</div>

In [7]:
# Importing the dataset
ABCDEats = pd.read_csv('DM2425_ABCDEats_DATASET.csv')

In [8]:
# Display the first 5 rows
ABCDEats.head()

,customer_id,customer_region,customer_age,vendor_count,product_count,is_chain,first_order,last_order,last_promo,payment_method,...,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23
0,1b8f824d5e,2360,18.0,2,5,1,0.0,1,DELIVERY,DIGI,...,0,0,0,0,2,0,0,0,0,0
1,5d272b9dcb,8670,17.0,2,2,2,0.0,1,DISCOUNT,DIGI,...,0,0,0,0,0,0,0,0,0,0
2,f6d1b2ba63,4660,38.0,1,2,2,0.0,1,DISCOUNT,CASH,...,0,0,0,0,0,0,0,0,0,0
3,180c632ed8,4660,NaN,2,3,1,0.0,2,DELIVERY,DIGI,...,1,0,0,0,0,0,0,0,0,0
4,4eb37a6705,4660,20.0,2,5,0,0.0,2,-,DIGI,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Number of rows and columns
print('Number of rows:', ABCDEats.shape[0])
print('Number of columns:', ABCDEats.shape[1])

Number of rows: 31888
Number of columns: 56

In [11]:
# Check for missing values
ABCDEats.isnull().sum()

customer_id                    0
customer_region                0
customer_age                 727
vendor_count                   0
product_count                  0
is_chain                       0
first_order                  106
last_order                     0
last_promo                     0
payment_method                 0
CUI_American                   0
CUI_Asian                      0
CUI_Beverages                  0
CUI_Cafe                       0
CUI_Chicken Dishes             0
CUI_Chinese                    0
CUI_Desserts                   0
CUI_Healthy                    0
CUI_Indian                     0
CUI_Italian                    0
CUI_Japanese                   0
CUI_Noodle Dishes              0
CUI_OTHER                      0
CUI_Street Food / Snacks       0
CUI_Thai                       0
DOW_0                          0
DOW_1                          0
DOW_2                          0
DOW_3                          0
DOW_4                          0
DOW_5                          0
DOW_6                          0
HR_0                        1165
HR_1                           0
HR_2                           0
HR_3                           0
HR_4                           0
HR_5                           0
HR_6                           0
HR_7                           0
HR_8                           0
HR_9                           0
HR_10                          0
HR_11                          0
HR_12                          0
HR_13                          0
HR_14                          0
HR_15                          0
HR_16                          0
HR_17                          0
HR_18                          0
HR_19                          0
HR_20                          0
HR_21                          0
HR_22                          0
HR_23                          0
dtype: int64

In [15]:
# Check for duplicates rows by costumer_id
ABCDEats.duplicated().sum()
# ABCDEats.duplicated('customer_id').sum() # it is the same

13

In [16]:
# Drop duplicates
ABCDEats.drop_duplicates(inplace=True)

---

In [17]:
# Check the data types
ABCDEats.dtypes

customer_id                  object
customer_region              object
customer_age                float64
vendor_count                  int64
product_count                 int64
is_chain                      int64
first_order                 float64
last_order                    int64
last_promo                   object
payment_method               object
CUI_American                float64
CUI_Asian                   float64
CUI_Beverages               float64
CUI_Cafe                    float64
CUI_Chicken Dishes          float64
CUI_Chinese                 float64
CUI_Desserts                float64
CUI_Healthy                 float64
CUI_Indian                  float64
CUI_Italian                 float64
CUI_Japanese                float64
CUI_Noodle Dishes           float64
CUI_OTHER                   float64
CUI_Street Food / Snacks    float64
CUI_Thai                    float64
DOW_0                         int64
DOW_1                         int64
DOW_2                         int64
DOW_3                         int64
DOW_4                         int64
DOW_5                         int64
DOW_6                         int64
HR_0                        float64
HR_1                          int64
HR_2                          int64
HR_3                          int64
HR_4                          int64
HR_5                          int64
HR_6                          int64
HR_7                          int64
HR_8                          int64
HR_9                          int64
HR_10                         int64
HR_11                         int64
HR_12                         int64
HR_13                         int64
HR_14                         int64
HR_15                         int64
HR_16                         int64
HR_17                         int64
HR_18                         int64
HR_19                         int64
HR_20                         int64
HR_21                         int64
HR_22                         int64
HR_23                         int64
dtype: object

In [19]:
# Discritive statistics
ABCDEats.describe()

,customer_age,vendor_count,product_count,is_chain,first_order,last_order,CUI_American,CUI_Asian,CUI_Beverages,CUI_Cafe,...,HR_14,HR_15,HR_16,HR_17,HR_18,HR_19,HR_20,HR_21,HR_22,HR_23
count,31148.000000,31875.000000,31875.000000,31875.000000,31769.000000,31875.000000,31875.000000,31875.000000,31875.000000,31875.000000,...,31875.000000,31875.000000,31875.000000,31875.000000,31875.000000,31875.000000,31875.000000,31875.000000,31875.000000,31875.000000
mean,27.507545,3.102714,5.668424,2.819357,28.469924,63.672376,4.877205,9.955306,2.298224,0.801490,...,0.215686,0.277114,0.356580,0.391059,0.337098,0.245678,0.142871,0.071184,0.048282,0.045176
std,7.161828,2.771753,6.957933,3.977977,24.104626,23.227992,11.647043,23.561492,8.475868,6.428422,...,0.599098,0.738282,0.874598,0.943873,0.894106,0.795433,0.586641,0.348604,0.298324,0.282011
min,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,1.000000,2.000000,1.000000,7.000000,49.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,26.000000,2.000000,3.000000,2.000000,22.000000,70.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,31.000000,4.000000,7.000000,3.000000,45.000000,83.000000,5.660000,11.830000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,80.000000,41.000000,269.000000,83.000000,90.000000,90.000000,280.210000,896.710000,229.220000,326.100000,...,13.000000,23.000000,22.000000,20.000000,24.000000,35.000000,36.000000,11.000000,15.000000,13.000000

---

## ðŸ“Š Data Visualization

In [ ]:
# Plot the 
plt.figure(figsize=(10,6))
sns.countplot(ABCDEats['target'])
plt.title('Distribution of the target variable')
plt.show()